[Unit]
Description=Restore Docker containers from backup on boot
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-restore -run-restore
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
